@import 'tailwindcss';

@theme {
    --font-header: 'Lucy Rose', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-subheader: 'Tex Gyre Temes', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-decorative: 'Eyesome Script', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #451a6b;
    --color-secondary: #020001;
    --color-primary-content: white;
    --color-header: #e8cf7c;
    --color-complementary: #88457c;
}

@font-face {
    font-family: 'Lucy Rose';
    src: url('/fonts/LucyRosePERSONAL-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Termes';
    src: url('/fonts/texgyretermes-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eyesome Script';
    src: url('/fonts/Eyesome Script.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .markdown {
        > * {
            @apply my-6;
        }

        :where(h1, h2) {
            @apply m-0;
        }

        > :first-child {
            @apply mt-0;
        }

        > :last-child {
            @apply mb-0;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 bg-primary text-primary-content cursor-pointer text-center font-semibold no-underline transition-colors;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.25rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply text-gray-400 bg-gray-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }
}

html {
    background: linear-gradient(to bottom, #09090b 0%, #111116 50%, #1c122c 100%);
    background-attachment: fixed;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}
