---
import Layout from '@layouts/Layout.astro';
import ComingSoon from '@components/ComingSoon.astro';
import MeetTheTeam from '@components/MeetTheTeam.astro';

export const prerender = false;
---

<Layout title="Monarch Media LLC | Coming Soon!">
    <ComingSoon />

    <div class="px-4 relative z-10">
        <!-- <h2 class="font-decorative pt-0 pb-8 text-center text-[#e8cf7c] text-4xl">We're #SocialButterflies</h2> -->
        <MeetTheTeam />
    </div>
</Layout>
