---
// src/components/Header.astro
import NavBar from '@components/NavBar.astro';
import AdminNavBar from '@components/AdminNavBar.astro';

const currentPath = Astro.url.pathname;
const isAdminRoute = currentPath.startsWith('/admin') && currentPath !== '/admin/login';
---

<header class="w-full max-w-7xl mx-auto px-4 relative z-20">
    <nav class="flex items-center justify-between py-2 border-b border-white/15">
        <a href="/" class="transition-transform duration-200 hover:scale-[1.05] flex items-center">
            <img src="/images/MonarchPurple.png" alt="Monarch Media logo" class="w-15 mb-2 drop-shadow-2xl" />
        </a>

        {isAdminRoute ? <AdminNavBar /> : <NavBar />}
    </nav>
</header>
